<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custom.views">

    <application>
        <activity
            android:name="com.custom.ui.activity.ShowProvinceViewActivity"
            android:exported="false" />
        <activity
            android:name="com.custom.ui.activity.ShowPointViewActivity"
            android:exported="false" />
        <activity
            android:name="com.custom.ui.activity.ShowDrawableAndBitmapActivity"
            android:exported="false" />
        <activity
            android:name="com.custom.ui.activity.ShowCustomViewActivity"
            android:exported="false" />
        <activity
            android:name="com.custom.ui.activity.ShowMaterialEditActivity"
            android:exported="false" />
    </application>

</manifest>